<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/redux-store-element/redux-store.html">

<dom-module id="test-input-area">
    <template>
        <redux-store action="[[action]]"></redux-store>
        <redux-store action="[[action]]" store-name="hello"></redux-store>

        <input id="testInput" type="text">
        <button on-click="handleClick">Dispatch</button>
    </template>

    <script>System.import('/example/components/input-area/input-area.component.ts');</script>
</dom-module>
