<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/redux-store-element/redux-store-dist.html">

<dom-module id="test-input-area">
    <template>
        <redux-store action="[[action]]"></redux-store>
        <redux-store action="[[action]]" store-name="store2"></redux-store>

        <input id="testInput" type="text">
        <button on-click="dispatchClick">Dispatch</button>
    </template>

    <script src="input-area.component.ts"></script>
</dom-module>
