<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/redux-store-element/redux-store.html">

<dom-module id="test-text">
    <template>
        <redux-store on-statechange="mapStateToThisDefault"></redux-store>
        <redux-store on-statechange="mapStateToThisHello" store-name="hello"></redux-store>

        <div id="testTextDefault">Text from input above will go here</div>
        <div id="testTextHello">Text from input above will go here</div>
    </template>

    <script>
        Polymer({
            is: 'test-text',
            mapStateToThisDefault: function(e) {
                this.$.testTextDefault.innerHTML = e.detail.state.temp;
            },
            mapStateToThisHello: function(e) {
                this.$.testTextHello.innerHTML = e.detail.state.temp;
            }
        });
    </script>
</dom-module>
