<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">

<dom-module id="test-text">
    <template>
        <redux-store action="[[action]]" on-statechange="mapStateToThisDefault" local-state-name="textComponent"></redux-store>
        <redux-store action="[[action]]" on-statechange="mapStateToThisStore2" store-name="store2" local-state-name="textComponent"></redux-store>

        <div id="testTextDefaultStore">Text from input above will go here, from the default store state</div>
        <div id="testTextStore2">Text from input above will go here, from the store 2 state</div>

        <button on-click="localStateChangeClick">Change Local State</button>
        <div id="testLocalState">Local state properties will go here</div>
    </template>

    <script src="text.component.js"></script>
</dom-module>
