<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../input-area/input-area.component.html">
<link rel="import" href="../text/text.component.html">

<dom-module id="test-app">
    <template>
        <redux-store root-reducer="[[rootReducerDefault]]"></redux-store>
        <redux-store root-reducer="[[rootReducerHello]]" store-name="hello"></redux-store>
        <test-input-area></test-input-area>
        <test-text></test-text>
    </template>

    <script>System.import('/example/components/app/app.component.ts');</script>
</dom-module>
