<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/redux-store-element/redux-store-dist.html">
<link rel="import" href="../input-area/input-area.component.html">
<link rel="import" href="../text/text.component.html">

<dom-module id="test-app">
    <template>
        <redux-store root-reducer="[[rootReducerDefault]]"></redux-store>
        <redux-store root-reducer="[[rootReducerStore2]]" store-name="store2"></redux-store>
        <test-input-area></test-input-area>
        <test-text></test-text>
    </template>

    <script src="app.component.ts"></script>
</dom-module>
